@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto+Slab|Source+Sans+Pro|Lora|Merriweather|Heebo:500,600,800,900');

#TOC {
    font-family: "Source Sans Pro";
    font-size: 13px;
    color: #000000;
    position: fixed;
    overflow:right;
    width: 500px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: rgba(221, 237, 234, 1);
    border-color: rgba(221, 237, 234, 1);
    font-family: "Source Sans Pro";
    font-size: 13px;
    color: #000000;
}

.title {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
}

.subtitle {
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  margin: 5 0 0 0;
}

.author {
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 1);
  padding-top: 5px;
}

.date {
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 1);
}

body {
  margin-top: 18px;
  font-family: "Source Sans Pro";
  font-size: 18px;
  color: "#393731";
  line-height: 1;
}

h2 {
  font-family: "Heebo", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding: 8px 10px 8px 10px;
  text-align: left;
  line-height: 34.5px;
  background-color: rgba(221, 237, 234, 1);
}

h3 {
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 0px 5px 0px 5px;
  text-align: left;
  line-height: 34.5px;
  border-bottom: .5px solid rgba(0, 0, 0, 0.2);
}

a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}

a:hover {
 color: #50a0b0; /* darker color when hovering */
}

pre[class] {
  max-height: 300px;
}

.scroll-300 {
  max-height: 300px;
  overflow-y: auto;
  background-color: inherit;
}